<!DOCTYPE html>
<html lang={{ I18n.getLang() }}>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BEdita4 Web App</title>
    {{ Html.meta('icon')|raw }}

    {{ Html.css('milligram.min')|raw }}
    {{ Html.css('cake')|raw }}

    {{ _view.fetch('meta')|raw }}
    {{ _view.fetch('css')|raw }}
    {{ _view.fetch('script')|raw }}
</head>
<body>
    {{ Flash.render()|raw }}
    {{ _view.fetch('content')|raw }}
</body>
</html>
