<!DOCTYPE html>
<html lang={{ I18n.getLang()|default('en') }}>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BEdita4 Web App</title>
    {{ Html.meta('icon')|raw }}

    {{ Html.css('milligram.min')|raw }}
    {{ Html.css('cake')|raw }}

    {{ fetch('meta') }}
    {{ fetch('css') }}
    {{ fetch('script') }}
</head>
<body>
    {{ Flash.render()|raw }}
    {{ fetch('content') }}
</body>
</html>
