<!DOCTYPE html>
<html lang={{ I18n.getLang()|default('en') }}>
<head>
    {{ Html.charset()|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BEdita4 Error Page</title>
    {{ Html.meta('icon')|raw }}

    {{ Html.css('milligram.min')|raw }}
    {{ Html.css('cake')|raw }}

    {{ _view.fetch('meta')|raw }}
    {{ _view.fetch('css')|raw }}
    {{ _view.fetch('script')|raw }}
</head>
<body>
    <div class="error-container">
        {{ Flash.render()|raw }}
        {{ _view.fetch('content')|raw }}
        {{ Html.link(__('Back'), 'javascript:history.back()')|raw }}
    </div>
</body>
</html>
